html body
{
	font-family: 'Tajawal', sans-serif;
}

/*Nvigation Bar*/

.container-fluid .logo-txt table tr td span
{
	color: #b1a35a !important;
	font-weight: bolder;
}
.container-fluid .logo-txt table tr td span #lblDonateAmountErr0 , .logo-txt table tr td span #lblDonateAmountErr1
{
	font-size: 20px !important;
	margin-top: 3rem !important;
}
#main-website-navigation > div ul {
    max-width: 970px;
    margin: 0 auto;
    padding: 0 2.4em;
}
/* 6f0000*/
.bg-primary
{
	background-color: #005086 !important;
	margin-top: -1px ;
	border-bottom: 2px solid #b1a35a
}
.navbar .navbar-collapse .navbar-nav .nav-item .nav-link
{
	color: #fff ;
	opacity: 0.7
}
.navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover
{
	opacity: 1
}

.active1
{
	
	font-weight: 700 ;
	opacity: 1 !important
}
.container-fluid .logo-sec .img2-logo-sec
{
	width: 130px ;
}
@media (max-width: 992px)
{
	.container-fluid .logo-sec .img2-logo-sec
	{
		width: 120px ;
	}
	.container-fluid .logo-sec .img1-logo-sec 
	{
		width: 50px ;
	}
	.container-fluid .logo-sec
	{
		justify-content: center;
		align-items: center;
	}
	.container-fluid .logo-txt table tr td span #lblDonateAmountErr0
	{
		font-size: 20px !important;
		margin-top: 3rem !important;
	}
	.container-fluid .logo-txt
	{
		justify-content : center !important;
	}
}

.navbar-toggler 
{
	color: #b1a35a !important;
	font-size: 30px ;
}
@media (max-width: 767px)
{
	.container-fluid .logo-sec .img2-logo-sec
	{
		margin-top: 17px ;
	}
	.container-fluid .logo-sec .img1-logo-sec 
	{
		margin-top: 17px ;
	}
	.container-fluid .logo-txt table tr td span #lblDonateAmountErr0 
	{
		font-size: 13px !important;
		font-weight: bold !important;
	}
	.container-fluid .logo-txt table tr td span #Label1 , .container-fluid .logo-txt table tr td span #Label2
	{
		font-weight: lighter !important;
		font-size: 12px !important;
	}
	.logo-txt table tr td span #lblDonateAmountErr1
	{
		font-size: 20px !important;
		font-weight: bold !important;
	}
	.logo-txt table tr td span #Label1-1 , .logo-txt table tr td span #Label2-1
	{
		font-weight: lighter !important;
		font-size: 15px !important;
	}
	.navbar .navbar-collapse .navbar-nav .nav-item .nav-link
	{
		color: #fff ;
		opacity: 0.7
	}
	.row .btn-primary
	{
		font-size: 11px !important ;
	}
}
.log-form
{
	width: 450px ;
	border: 1px solid #005086 ;
	padding: 2rem ;
	border-radius: 10px ;
}
.header header
{
	background-color: #DCDCDC ;
	color: #005086;
	padding: 1rem ;
}
.btn-primary
{
	color: #b1a35a;
	background-color: #fff ;
	border : 2px solid #005086;
	font-weight: bold ;
	font-size: 20px ;
	width: 300px ;
	padding: .5rem;
}

.final-jum
{
    background-color: #222831;
    color: #fff;
    padding-top: .5rem ;
    margin-right: 0px ;
    margin-left: 0px ;
    border-top: 2px solid #b1a35a ;
}
.final-jum i
{
	font-size: 18px ;
	color: #fff;
	padding: 0.5rem ;
	border: 2px solid #b1a35a ;
	border-radius: 50% ;
}
.final-jum hr
{
	background-color: #b1a35a
}